src/agent/history/*.db
src/agent/history/sessions/
src/agent/history/cron/
src/agent/memory/chroma_rag_db/*
node_modules/
__pycache__/
package-lock.json
dist/
electron-builder-cache/
src/agent/agents/config.json
src/agent/data/browser_profile/

llm_server_bac/
